<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="pdfReport" class="com.bankonet.report.IReportGeneratorImplPdf"></bean>
	<bean id="htmlReport" class="com.bankonet.report.IReportGeneratorImplHtml"></bean>
	
	<bean id="reportService" class="com.bankonet.metier.ReportService">
		<property name="reportGenerator" ref="htmlReport"></property>
	</bean>
		
</beans>
